---
---

<!-- TODO 
1. make gallery responsive (e.g. 1 column)
2. add pricing page
3. add contact page
4. navigation menu
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kate's Gallery</title>
    <link rel="stylesheet" href="style.css">
  </head>



<!-- Page content -->

  <body>

  <div class="content">

    {% include navigation.html %}
    <div class="main">
      <header><h1> Kate's Gallery </h1></header>
      <div class="portfolio-container">
        {% for file in site.static_files %}
          {% if file.path contains 'assets/portfolio' %}
            <img src="{{ site.baseurl }}{{ file.path }}" alt="image" />
          {% endif %}      
        {% endfor %}
      </div>
    </div>

  </div>

</body>
</html>