/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: Poppins-Light, Arial, Helvetica, Trebuchet, Verdana;
}



/* Portfolio styling */
.portfolio-container {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
    }
}

img {
    width: 100%;
    height: auto;    
}


 .main {
    margin: 0 20px;
 }

.content {
    display: flex;
}

/* Menu styling */
.menu {
    background-color: #333;
    overflow: hidden;
    min-width: 200px;
    padding: 20px 0;
    /* position: sticky; */
    /* top: 0; */
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    font-family: Forum;  
}

.menu-link:hover {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    .menu {
        width:100%;
        height: auto;
    }
}

header h1 {
    font-size: 70p; 
    font-weight: 600;
    color:black;
    font-family: Forum, Arial, Trebuchet, Verdana;
      }

.pricing-table th, tr, td {  
        border: 1px solid #ddd;
        padding: 8px; 

}

.pricing {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}

.contact-text {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}




