/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Portfolio styling */
.portfolio-container {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
    }
}

img {
    width: 100%;
    height: auto;    
}

/* // SIDEBAR [KP 6/6/2023] ///////////////////////
 
 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
 
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
 
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
 
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
 
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
 
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
 
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 

 // end SIDEBAR [KP 6/6/2023] ///////////////////////   */

 .main {
    margin: 0 20px;
 }

.content {
    display: flex;
}

/* Menu styling */
.menu {
    background-color: #333;
    overflow: hidden;
    min-width: 200px;
    padding: 20px 0;
    /* position: sticky; */
    /* top: 0; */
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

.menu-link:hover {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    .menu {
        /* position: static; */
    }
}

header h1{
    font-size: 70p; 
    font-weight: 600;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}